body{
    width:100%;
}
p{
    font-family: Arial;
    color: rgb(134, 133, 133);
}
div#topBar{
    align-items: center;
    justify-content: space-between;
    display:flex;
    background-color:rgb(255, 196, 0);
    width: 100%;
    position: absolute;
    top:0px;
}


img#logo{
    margin-left: 2%;
    height: 50px;
    width: 80px;
}


img#profile{
    margin-right: 2%;
    height: 50px;
    width: 50px;
}


div#input{
    align-items: center;
    justify-content: space-between;
    display:flex;
    /* background-color: grey; */
    width: 500px;
    height: 25px;
}
input#input{
    width:100%;
    height:80%;
}
button#search{
    /* background-color: aliceblue; */
    height:100%;
}

.tags{
    margin-left: 2px;
    margin-right: 2px;
    background-color: white;
    border-color: pink;
    border-radius: 5px;
    height: 30px;
    width: 70px;
    fill-opacity: 0;
}

button#tag2,#tag8{
    border-color: rgba(91, 158, 216, 0.986);
}
button#tag3, #tag7{
    border-color: antiquewhite;
}
button#tag6,#tag9{
    border-color: rgb(179, 130, 66);
}
button#animal{
    border-color:rgb(50, 189, 50);
}


p#subtitle{
    position: absolute;
    left: 20%;
}



.center_wrapper{
    margin-block-start: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-color: black;
    /* background-color: pink; */

}


.vt_wrapper{
    margin-block-start: 5%;
    /* background-color: pink; */
    height:300px;
    width:800px;
    display: flex;
    justify-content: center;
    align-content: center;
}



.description{
    width:100%;
    background-color: rgb(247, 241, 234);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column; 
}

div#w1{
    margin-block-start: 40px;
    background-color: grey;
}
div#description_sub1{
    font-weight: bold;
    font-size: 22px;
    margin-left: 5%;
    margin-right: 5%;
    /* background-color: aliceblue; */
}

div#description_sub2{
    margin-left: 5%;

}
div#description_sub3{
    margin-left: 5%;
    margin-right: 5%;
    flex-grow: 2;
    /* background-color: aliceblue; */
}

div#large_description{
    margin-block-start: 37px; 
    margin-bottom: 38px; 
}

div#small_description{
    opacity: 0.5;
    min-width: 200px;
    margin-block-start: 30px; 
    margin-bottom: 30px; 
}


#w3{
    background-color: grey;
    opacity: 0.40;
}
/* .shrink {

  } */




video{
    width: 250px;
    height:200px;
}

div#c1{
    min-width: 400px;
    min-height: 400px;
}

video#v1{
    align-self: center;
    width: 400px;
    height:300px;
}


div#w2{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
     
    height: 150px;
    margin-left: 10%;
    margin-right: 10%;
    min-height: 30px;
}



.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

div#activity_wrapper{
    position:sticky;
    left:10%;
    width:80%;
    background-color: grey;

}

div#activity_sub1{
    flex-grow: 1;
    flex-shrink: 1;
    /* background-color: aliceblue */
}

img#a1{
    margin-top: 23px;
    height:150px;
    width: 250px;
}
div#activity_sub2{
    flex-grow: 1;
    flex-shrink: 2;
    /* background-color: antiquewhite */
}


