<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/flex.css">
    <title>login</title>
  </head>
<body>
    
    <div class="center_wrapper">
        <div class="f1">hello</div>
        <div class="f2">heyyy</div>
    </div>

    <div class="all_container">
            <div class="center_wrapper">
                    <div class="f1">hello</div>
                    <div class="f2">heyyy</div>
                </div>
            <div class="center_wrapper">
                    <div class="f1">hello</div>
                    <div class="f2">heyyy</div>
                </div>
            <div class="center_wrapper">
                    <div class="f1">hello</div>
                    <div class="f2">heyyy</div>
                </div>
                <div class="center_wrapper">
                        <div class="f1">hello</div>
                        <div class="f2">heyyy</div>
                    </div>
                <div class="center_wrapper">
                        <div class="f1">hello</div>
                        <div class="f2">heyyy</div>
                    </div>
                <div class="center_wrapper">
                        <div class="f1">hello</div>
                        <div class="f2">heyyy</div>
                    </div>
    </div>

</body>
</html>