<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <!-- <title>login</title> -->
  </head>

  <body>

    <header>
        <div class = "header-bar">
            <div class = "header-element"><img class = "header-img" src="/stylesheets/logo.png"></div>
            <div class = "header-element"><input></input> <button id="search">search</button></div>
            <div class = "header-element"><img class = "header-img" src="/stylesheets/user.png"></div>
        </div>
    </header>


    <main>
        <div class = "featured-wrapper">
            <div class = "featured-navagation">
                <button class="navigation"id="previous"></button>
            </div>
                <video class = "featured-video" poster="/stylesheets/video.png" controls>
                    <source src="https://www.youtube.com/watch?v=fYq5PXgSsbE">
                </video>
                <ul>
                    <li><h2 id="featured-header">Learn about coronavirus with Rion!</h2></li>
                    <li>
                        <button class="tag">3-6 yrs</button>
                        <button class="tag">parenting</button>
                        <button class="tag">animals</button>
                        <label class="artest" id="a1"></label>
                        <label class="artest" id="a2"></label>
                        <label class="artest" id="a3"></label>
                    </li>
                    <li>
                        <p class = "video-description">"I have plans for you declared the lord, 
                            plans to prosper you and not to harm you"</p>
                    </li>
                </ul>
            <div class = "featured-navagation">
                <button class="navigation" id="next"></button>
            </div>
        </div>

        <div class = "tags-wrapper">
            <fieldset class = "tags-search-wrapper">
                <legend><h3>Search by Age Group</h3></legend>  
                <button class="tag age-tag">3-6 yrs</button>
                <button class="tag age-tag">3-6 yrs</button>
                <button class="tag age-tag">3-6 yrs</button>
                <button class="tag age-tag">3-6 yrs</button>
                <button class="tag age-tag">3-6 yrs</button>
            </fieldset>
        
            <fieldset class = "tags-search-wrapper">
                    <legend><h3>Search by Categories</h3></legend>  
                    <button class="tag category-tag">3-6 yrs</button>
                    <button class="tag category-tag">3-6 yrs</button>
                    <button class="tag category-tag">3-6 yrs</button>
                    <button class="tag category-tag">3-6 yrs</button>
                    <button class="tag category-tag">3-6 yrs</button>
                </fieldset>
        </div>
        
    
    </main>

             



  </body>

</html>